<div class="item w3">
  <div class="quick edit">
    <% if @manage_blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@manage_blog.errors.count, "error") %> prohibited this manage_blog from being saved:</h2>
        <ul>
          <% @manage_blog.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2 class="bar">記事管理</h2>
    <div class="inner">
      <%= form_for(@manage_blog) do |f| %>
      	<label for="manage_blog_title">タイトル</label>
        <%= f.text_field :title %>
        <label for="picture">画像の挿入</label>
        <%= f.file_field :picture %>
        <!-- <%= f.collection_select :category_id, Manage::BlogCategories.all, :id, :category_name, :class => "minict_wrapper active" %> -->
        <label for="manage_blog_content">本文</label>
        <%= f.text_area :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<div class="item w1">
  <div class="newArt">
    <h2 class="bar">ステータス</h2>
    <div class="inner">
      <ul>
        <li class="status">公開</li>
      </ul>
    </div>
  </div>
</div>