<div class="item w3">
	<div class="quick edit">
		<h2 class="bar">記事一覧</h2>
		<div class="inner">
			<%= form_for :blog, url: manage_blogs_path do |f| %>
				<%= f.text_field :title %>
				<%= select_tag 'blog[category_id]', options_from_collection_for_select(@categories, :id, :category_name) %>
				<input type="button" value="画像を追加" />
				<%= f.text_area :contents %>
				<%= f.submit %>
			<% end %>
		</div>
	</div>
</div>

<div class="item w1">
	<div class="newArt">
		<h2 class="bar">ステータス</h2>
		<div class="inner">
			<ul>
				<li class="status">公開</li>
			</ul>
		</div>
	</div>
</div>