<h1>Listing manage_blogs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Category</th>
      <th>Title</th>
      <th>Content</th>
      <th>Condition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @manage_blogs.each do |manage_blog| %>
      <tr>
        <td><%= manage_blog.user_id %></td>
        <td><%= manage_blog.category_id %></td>
        <td><%= manage_blog.title %></td>
        <td><%= manage_blog.content %></td>
        <td><%= manage_blog.condition %></td>
        <td><%= link_to 'Show', manage_blog %></td>
        <td><%= link_to 'Edit', edit_manage_blog_path(manage_blog) %></td>
        <td><%= link_to 'Destroy', manage_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_manage_blog_path %>
