<div class="item w3">
	<p id="notice"><%= notice %></p>
	
	<p>
	  <strong>User:</strong>
	  <%= @manage_blog.user_id %>
	</p>
	
	<p>
	  <strong>Category:</strong>
	  <%= @manage_blog.category_id %>
	</p>
	
	<p>
	  <strong>Title:</strong>
	  <%= @manage_blog.title %>
	</p>
	
	<p>
	  <strong>Content:</strong>
	  <%= @manage_blog.content %>
	</p>
	
	<p>
	  <strong>Condition:</strong>
	  <%= @manage_blog.condition %>
	</p>
	
	<%= link_to 'Edit', edit_manage_blog_path(@manage_blog) %> |
	<%= link_to 'Back', manage_blogs_path %>
</div>