<div class="item w3">
	<div class="feed">
		<h2 class="bar">フィード</h2>
		<div class="inner">
			<table>
				<tr>
					<td class="face"><img src="img/moriC.jpg" alt="" /></td>
					<td class="friendInfo">
						<p class="date">2013年12月12日</p>
						<h3 class="title">タイトル</h3>
						<p class="writer">森下智裕 / 農家</p>
					</td>
					<td class="shareItem">
						<ul>
							<li class="star"><span class="icon icon-star-empty"></span></li>
							<li><span class="icon icon-export"></span></li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>


<div class="item w1">
	<div class="friends">
		<h2 class="bar">友達</h2>
		<div class="inner">
			<table>
			<tbody>
				<% @manage_friends.each do |manage_friend| %>
				<tr>
					<td class="face"><img src="img/moriC.jpg" alt="" /></td>
					<td class="friendInfo">
						<h3><%= link_to manage_friend.to_user.user_name, "/tops/#{manage_friend.to_user.id}" %></h3>
						<p class="belong">農家</p>
					</td>
				</tr>
				<tr>
					<td><%= link_to 'Show', manage_friend %></td>
					<td><%= link_to 'Edit', edit_manage_friend_path(manage_friend) %></td>
					<td><%= link_to 'Destroy', manage_friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
</div>

<div class="item w2">
	<div class="friends">
		<h2 class="bar">ブログを探しましょう</h2>
		<div class="inner">
			<table>
				<tr>
					<td>
						<!-- 簡易設置 -->
						<form action="">
							<label for="searchUser">友達検索</label>
							<br /><input type="text" name="" id="searchUser" />
							<input type="submit" value="検索" />
						</form>
					</td>
				</tr>
				<a href="">
					<% @users.each do |user| %>
						<tr class = "friend_user" id = <%= "user#{user.id}"%>>
							<td class="face"><img src="img/moriC.jpg" alt="" /></td>
							<td class="friendInfo">
								<h3><%= link_to user.user_name, "/tops/#{user.id}" %></h3>
								<p class="belong"><%= format_user_type user.user_type %></p>
							</td>
							<td class="newFriends">
								<%= link_to '友達になる', "/manage/friends/#{user.id}/add_friend" ,:remote => true %>
							</td>
						</tr>
					<% end %>
				</a>
			</table>
		</div>
	</div>
</div>