<div class="item w2">
  <div class="quick">
    <h2 class="bar">ユーザ設定</h2>
    <div class="inner users">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :user_name %><br />
        <%= f.text_field :user_name, :autofocus => true %></div>

        <div><%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email %></div>

        <div><%= f.label :user_address_number %><br />
        <%= f.text_field :user_address_number %></div>

        <div><%= f.label :user_address %><br />
        <%= f.text_field :user_address %></div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div><%= f.label :password, '新しいパスワード' %> <i>(変更しない場合は空白にしてください)</i><br />
        <%= f.password_field :password, :autocomplete => "off" %></div>

        <div><%= f.label :password_confirmation, '新しいパスワードの確認' %><br />
        <%= f.password_field :password_confirmation %></div>

        <div><%= f.label :current_password, '変更前のパスワード' %> <i>(変更時に必須です)</i><br />
        <%= f.password_field :current_password %></div>

        <div><%= f.submit "更新" %></div>
      <% end %>
    </div>
  </div>
</div>