<div class="item w3">
	<div class="productList">
		<h2 class="bar">販売管理</h2>
		<div class="inner">
			<div class="histrry-type">
				<table>
					<tr>
						<td class="send-before"></td>
						<td>未処理</td>
						<td class="send-now"></td>
						<td>発送準備中</td>
						<td class="send-end"></td>
						<td>発送完了</td>
					</tr>
				</table>
			</div>

			<% @orders.each do |order| %>
				<% if order.condition == 1 %>
					<div class="send-before-list">
				<% elsif order.condition == 2 %>
					<div class="send-now-list">
				<% elsif order.condition == 3 %>
					<div class="send-end-list">
				<% end %>
						<div class="artTitle">
							<h3><%= order.product.product_name %></h3>
						</div>
						<div class="productImg">
							<%= image_tag order.product.picture.url(:medium) %>
						</div>
						<div class="next-btn">
							<% if order.condition <= 2 %>
								<%= link_to next_phase_manage_order_path(order) ,:remote => true  do %>
									<span>次の段階へ</span>
								<% end %>
							<% end %>
						</div>
						<div class="artLiInfo">
							<div class="date"><p><%= format_date order.created_at %></p></div>
							<div class="artMenu">
								<ul>
									<li><%= link_to '詳細を表示', manage_order_path(order) %></li>
								</ul>
							</div>
						</div>
					</div>
			<% end %>
			
		</div>
	</div>
</div>