<%= form_for(@manage_product) do |f| %>
  
  <label for="product_name">商品名</label>
  <%= f.text_field :product_name %>
  <label for="price">通常価格</label>
  <%= f.text_field :price %>
  <label for="count">在庫数</label>
  <%= f.text_field :count %>
  <label for="delivery_fee">送料</label>
  <%= f.text_field :delivery_fee %>
  <label for="picture">画像の挿入</label>
  <%= f.file_field :picture %>
  <label for="contents">商品説明</label>
  <%= f.text_area :contents, :size => "20x10" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
