
<div class="item w3">
	<div class="productList">
		<h2 class="bar">商品一覧</h2>
		<div class="inner">
				
			<div class="box1">
				<% @manage_products.each do |manage_product| %>
				<div class="artTitle">
					<h3>
						<%= link_to manage_product.product_name, edit_manage_product_path(manage_product) %>
					</h3>
				</div>
				<div class="productImg">
					<%= image_tag manage_product.picture.url(:medium) %>
				</div>
				<div class="artLiInfo">
					<div class="date"><p><%= format_date manage_product.created_at %></p></div>
					<div class="artMenu">
						<ul>
							<li><%= link_to '編集', edit_manage_product_path(manage_product) %></li>
							<li><%= link_to '削除', manage_product, method: :delete, data: { confirm: '削除しますか?' } %></li>
							<!-- <li><%= link_to 'Show', manage_product %></li> -->
							<li class="status">公開</li>
						</ul>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="item w1">
	<div class="newArt">
		<h2 class="bar">記事メニュー</h2>
		<div class="inner">
			<ul>
				 <li><%= link_to '商品登録', new_manage_product_path %></li>
				<li><%= link_to '特定商取引表示', manage_dealer_info_index_path %></a></li>
			</ul>
		</div>
	</div>
</div>