<header>
	<h1><%= @User.user_name %></h1>
	<div class="hlink">
		<% if user_signed_in? %>
		  <p><%= link_to '管理ページへ', manage_index_path %></p>
		<% else %>
		  <p><%= link_to 'トップページへ', tops_path %></p>
		<% end  %>
	</div>		
</header>

	<div class="contents">
		<div class="container menus">
		
			<div class="item w2">
				<div class="imgBox">
					<img src="img/topImg.png" alt="" />
				</div>
				<nav>
					<div class="navBox">
						<ul>
							<li class="menu info c1">
								<a href="">
									<span class="icon icon-user"></span>
									<h2>情報</h2>
									<p>広島県広島市</p>
								</a>
							</li>
							<li class="menu goods c2">
								<span class="icon icon-bag"></span>
								<h2>販売</h2>
								<p>3点</p>
							</li>
						</ul>
					</div>
					<div class="navBox">
						<ul>
							<li class="menu friends c3">
								<span class="icon icon-users"></span>
								<h2>友達</h2>
								<p><%= @friends.count %>人</p>
							</li>
							<li class="menu pictures c4">
								<span class="icon icon-picture"></span>
								<h2>写真</h2>
								<p>13枚</p>
							</li>
						</ul>
					</div>
				</nav>
			</div>

			<% @blogs.each do |blog| %>
				<div class="item w1 c1">
					<div class="imgBox">
						<img src="img/redTomate.png" alt="" width="100%" />
					</div>
					<div class="inner">
						<h2><%= blog.title %></h2>
						<p><%= format_date blog.created_at %></p>
						<p><%= blog.content %></p>
					</div>
					<%= link_to '続きを読む', manage_blog_path, :class => "more" %> 
				</div>
			<% end %> 
			
		</div>
	</div>