<div class="item w2">
	<div class="news">
		<h2 class="bar">お知らせ</h2>
		<div class="inner">
			<ul>
				<% @logs.each do |log| %>
					<li><span class="date"><%= format_date log.created_at %> - </span><%= log_message log.log_type %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="item w2">
	<div class="feed">
		<h2 class="bar">フィード</h2>
		<div class="inner">
			<table>
				<% @activities.each do |activity| %>
					<%= render_activity(activity) %>
				<% end %>
			</table>
		</div>
	</div>
</div>
<div class="item w2">
	<div class="quick">
		<h2 class="bar">クイック投稿</h2>
		<div class="inner">
			<%= form_for @quick_blog, :url => {:action => 'create_blog'} do |f| %>
		        <label for="manage_blog_title">記事のタイトル</label>
		        <%= f.text_field :title %>
		        <!-- <%= select_tag 'blog[category_id]', options_from_collection_for_select(@blog_categories, :id, :category_name) %> -->
		        <%= f.file_field :picture %>
		         <label for="manage_blog_content">本文</label>
		        <%= f.text_area :content %>
		        <%= f.submit %>
			<% end %>
		</div>
	</div>
</div>
<div class="item w4">
	<div class="accsess">
		<h2 class="bar">アクセス数</h2>
		<div class="inner">
			<!-- グラフ -->
			<canvas id="canvas" width="740" height="250"></canvas>
		</div>
	</div>
</div>

<!--[if lt IE 9]>
<link rel="stylesheet" href="css/fontello-ie7.css" />
<script src="js/html5shiv.js"></script>
<script src="js/IE9.js"></script>
<![endif]-->

<!--
<script>
	//アクセスグラフ
	var lineChartData = {
		labels : ["January","February","March","April","May","June","July","August","September","October","November","December"],
			datasets : [
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				data : [20,18,14,19,14,17,10,19,14,17,10,22]
			}
		]
	}
	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);
</script>
-->
