<div class="item w2">
	<div class="news">
		<h2 class="bar">お知らせ</h2>
		<div class="inner">
			<ul>
				<li><span class="date">2013.07.13 - </span>メッセージが届きました</li>
				<li><span class="date">2013.07.01 - </span>アップデートが届きました</li>
				<li><span class="date">2013.06.15 - </span>メンテナンスのお知らせ</li>
				<li><span class="date">2013.06.11 - </span>メッセージが届きました</li>
				<li><span class="date">2013.06.01 - </span>アップデートが届きました</li>
			</ul>
		</div>
	</div>
</div>
<div class="item w2">
	<div class="feed">
		<h2 class="bar">フィード</h2>
		<div class="inner">
			<table>
				<% @manage_blogs.each do |manage_blog| %>
					<tr>
						<td class="face"><img src="img/moriC.jpg" alt="" /></td>
						<td class="friendInfo">
							<p class="date"><%= format_date manage_blog.created_at %></p>
							<h3 class="title"><%= manage_blog.title %></h3>
							<p class="writer"><%= manage_blog.user.user_name %></p>
						</td>
						<td class="shareItem">
							<ul>
							<li class="star"><span class="icon icon-star-empty"></span></li>
							<li><span class="icon icon-export"></span></li>
							</ul>
						</td> 
					</tr>
	      <% end %>
			</table>
		</div>
	</div>
</div>
<div class="item w2">
	<div class="quick">
		<h2 class="bar">クイック投稿</h2>
		<div class="inner">
			<%= form_for @quick_blog, :url => {:action => 'create_blog'} do |f| %>
        <%= f.text_field :title %>
        <%= select_tag 'blog[category_id]', options_from_collection_for_select(@blog_categories, :id, :category_name) %>
        <input type="button" value="画像を追加" />
        <%= f.text_area :content %>
        <%= f.submit %>
			<% end %>
		</div>
	</div>
</div>
<div class="item w4">
	<div class="accsess">
		<h2 class="bar">アクセス数</h2>
		<div class="inner">
			<!-- グラフ -->
			<canvas id="canvas" width="740" height="250"></canvas>
		</div>
	</div>
</div>

<!--[if lt IE 9]>
<link rel="stylesheet" href="css/fontello-ie7.css" />
<script src="js/html5shiv.js"></script>
<script src="js/IE9.js"></script>
<![endif]-->

<script>
	//アクセスグラフ
	var lineChartData = {
		labels : ["January","February","March","April","May","June","July","August","September","October","November","December"],
			datasets : [
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				data : [20,18,14,19,14,17,10,19,14,17,10,22]
			}
		]
	}
	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);
</script>
