<%= form_tag('/manage/product_value/update', :method => :put) do %>
  <label>商品名</label>
  <%= @product.product_name %>
  <br>
  <label>購入者</label>
  <%= current_user.user_name %>
  <br>
  <label>評価</label>
  <%= select_tag 'value', options_for_select({"☆" => 1, "☆☆" => 2, "☆☆☆" => 3, "☆☆☆☆" => 4, "☆☆☆☆☆" => 5}) %>
  <br>
  <%= hidden_field_tag 'order_id', @order.id %>
  <%= submit_tag "登録"  %>
<% end %>