<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>admin | Farmer</title>
  <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <%= stylesheet_link_tag    "manage", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="hdrContents">
			<div class="logo">
				<h1>FIS</h1>
			</div>
			<div class="hdrTools">
				<span class="plus">+</span>
				<span class="minus">-</span>
				<%= format_user_type current_user.user_type %><%= current_user.user_name %>
				<span class="icon-comment"></span>
				<%= link_to destroy_user_session_path, :method => "delete" do %>
				    <span class="lo icon-off"></span>
				<% end %>
			</div>
		</div>
	</header>
	<div class="contents">
		<div class="container">
			<div class="item nav w1">
				
				<ul>
					<li class="menu">
						<%= link_to manage_index_path do %>
				    	<span class="icon icon-home"></span><span class="tag">ホーム</span>
						<% end %>
					</li>
					<li class="menu">
						<%= link_to "/tops/#{current_user.id}" do %>
				    	<span class="icon icon-home"></span><span class="tag">Webページへ</span>
				    <% end %>
					</li>
					<li class="menu">
						<%= link_to manage_friends_path do %>
				    	<span class="icon icon-users"></span><span class="tag">友達</span>
						<% end %>
					</li>
					<li class="menu">
						<%= link_to manage_blogs_path do %>
				    	<span class="icon icon-book-open"></span><span class="tag">記事管理</span>
						<% end %>
					</li>
					<li class="menu">
						<%= link_to manage_products_path do %>
				    	<span class="icon icon-tag"></span><span class="tag">商品管理</span>
						<% end %>
					</li>
					<% if current_user.user_type >= 2 %>
					<li class="menu">
						<%= link_to history_manage_orders_path do %>
				    	<span class="icon icon-bag"></span><span class="tag">販売管理</span>
						<% end %>
					</li>
					<% end %>
					<li class="menu">
						<%= link_to history_manage_orders_path do %>
				    	<span class="icon icon-bag"></span><span class="tag">買物履歴</span>
						<% end %>
					</li>
					<li class="menu">
						<%= link_to manage_settings_path do %>
				    	<span class="icon icon-cog"></span><span class="tag">基本設定</span>
						<% end %>
					</li>
					<li class="menu">
						<%= link_to edit_user_registration_path do %>
				    	<span class="icon icon-user"></span><span class="tag">ユーザ設定</span>
						<% end %>
					</li>
					<% if current_user.user_type == 4 %>
						<li class="menu">
							<%= link_to admin_users_path do %>
					    	<span class="icon icon-users"></span><span class="tag">ユーザ管理</span>
							<% end %>
						</li>
					<% end %>
				</ul>
				
			</div>
			<%= yield %>
		</div>
	</div>
</body>
</html>