<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>admin | Farmer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="hdrContents">
			<div class="logo">
				<h1>FIS</h1>
			</div>
			<div class="hdrTools">
				<%= current_user.user_name %>
				<span class="icon-comment"></span>
				<%= link_to destroy_user_session_path, :method => "delete" do %>
				    <span class="lo icon-off"></span>
				<% end %>
			</div>
		</div>
	</header>
	<div class="contents">
		<div class="container">
			<div class="item nav w1">
				
				<ul>
					<li class="menu">
						<%= link_to manage_index_path do %>
				    	<span class="icon icon-home"></span><span class="tag">ホーム</span>
						<% end %>
					</li>
					<li class="menu"><a href="friend.html"><span class="icon icon-users"></span><span class="tag">友達</span></a></li>
					<li class="menu">
						<%= link_to manage_blogs_path do %>
				    	<span class="icon icon-book-open"></span><span class="tag">記事管理</span>
						<% end %>
					</li>
					<li class="menu"><a href="product.html"><span class="icon icon-tag"></span><span class="tag">商品管理</span></a></li>
					<li class="menu"><a href="history.html"><span class="icon icon-bag"></span><span class="tag">買物履歴</span></a></li>
					<li class="menu"><a href=""><span class="icon icon-cog"></span><span class="tag">基本設定</span></a></li>
				</ul>
				
			</div>
			<%= yield %>
		</div>
	</div>
</body>
</html>